// Global Variables
$primary-color: #7106bf;
$secondary-color: #b57cff;
$gradient-purple: linear-gradient(135deg, rgba(113, 6, 191, 0.6), rgba(181, 124, 255, 0.4));
$text-light: #ffffff;
$glass-bg: rgba(255, 255, 255, 0.01);
$font-stack: 'Poppins', sans-serif;

